<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" novalidate (ngSubmit)="register()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirmar contraseña</ion-label>
        <ion-input type="confirmPassword" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/login" routerDirection="back" type="button" expand="block">Iniciar sesión</ion-button>
      </ion-col>
      <ion-col>
        <ion-button type="submit" expand="block">Registrarse</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showError">
      <ion-col>
        <p>Introduce un correo y contraseña válidos por favor.</p>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
